.bg-primary {    
    background: linear-gradient(45deg, rgba(209,10,10,1) 0%, rgba(9,9,121,1) 100%) !important
}

.text-primary {
    color: darkblue !important
}

.checked {
    color: mediumblue;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

    .profile-pic:hover .edit {
        display: block;
    }

.edit {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 12%;
    top: 0;
    display: none;
    cursor: pointer;
}

    .edit a {
        color: #000;
    }